*{
    margin: 0;
    padding: 0;
}
/* container style */
.container {
    width: 450px;
    height: fit-content;
    background-color: #720303;
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 5px 2px 6px -3px black;
}

/* header style */
.header {
    color: white;
    text-align: center;
    background-color: black;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 25px;
    font-family: cursive;
}

/* calc div style  */

.calc{
    padding: 20px;
    color: burlywood;
}

h2 {
    margin-bottom: 15px;
    font-family: cursive;
    font-size: 21px;

}

.dollarSign{
    font-size: 25px;
}

input{
    width: 150px;
    height: 22px;
    margin-bottom: 10px;
}

#err-validation,#err-validation2 {
    color: whitesmoke;
    font-size: 20px;
}

#serviceSeclesction{
    width: 250px;
    font-size: 25px;
    color: #ac0401;
    padding: 5px;
    margin-bottom: 10px;
}

.calcButton{
    width: 150px;
    height: 60px;
    font-size: 28px;
    color: #ac0401;
    cursor: pointer;
    /* border-bottom-left-radius: 25px; */
    border-top-right-radius: 25px;
    margin: 50px 0px 15px 125px;
}

#tip,#tip-amount,#each {
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}